.TransactionTitle-credit {
  color: white;
  cursor: pointer;
  font-weight: bold;
  background-color: green;
}

.TransactionDetails-credit {
  color: green;
}

.TransactionTitle-debit {
  color: white;
  cursor: pointer;
  font-weight: bold;
  background-color: red;
}

.TransactionDetails-debit {
  color: red;
}
